<h1>List of Users And Post Count:</h1>
<div>
  <ul>
  <% @users.each do |user| %>
    <li><%= display_user_photo(user) %> <%= link_to user.name, user_path(user) %> - <%= user.posts_counter %> posts</li>
  <% end %>
</ul>
</div>