@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Sura:wght@400;700&display=swap');

:root {
  --white: #fefefe;
  --black: #231f20;
  --blue: #6621e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Sura', serif;
  background-color: var(--white);
  min-height: 100vh;
  color: var(--black);
}

div {
  width: 100%;
  padding: 5em 5em;
}

h2,
h3 {
  padding: 0 5em;
}
