body {
  width: 50%;
  margin: 5em auto;
}

.field {
  background: beige;
  width: 50%;
  margin: auto;
  text-align: center;
}

.actions {
  width: 50%;
  margin: auto;
  text-align: center;
}

h2 {
  margin: 2em auto;
  width: 50%;
}
